.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;

}

a {
    color: rgb(20, 40, 220);
    text-shadow: 2px 2px gainsboro;
    text-decoration:none;

}

.links {
    display: inline;
    padding-left: 30px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;

}

.links:hover {
    font-size: 25px;
    text-decoration: underline
}


body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    border-radius: 50%;
    tab-size: 10px
   
}
#box {
   
    background-color: rgb(187, 231, 245) ;
    padding: 10px ;
    border: 1px solid rgb(0, 4, 22) ;
    height: 150px;
    width: 700px;
  }
#welcome {

    position: absolute;
    color: #020118;
    
    bottom: 0;
    
    background-image: url("https://cdn.vox-cdn.com/thumbor/lNurolXHxM1GVem-G3ohoD6mxZQ=/0x0:1200x800/1200x800/filters:focal(504x304:696x496)/cdn.vox-cdn.com/uploads/chorus_image/image/57866319/spacesuit.0.jpg");
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;

}

h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 59px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
    background-color: rgb(187, 231, 245) ;
    padding: 10px ;
    border: 1px solid rgb(0, 4, 22) ;
    height: 150px;
    width: 900px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace; 
    
}

#work {
    background-color: rgb(14, 131, 167) ;
    padding: 10px ;
    border: 1px solid rgb(0, 4, 22) ;
    height: 900px;
    width: 1350px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    font-size: 17px;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

html {
    scroll-behavior: smooth;
}

.article:hover {
    color: fuchsia;
}

#writings {
   
    background-color: rgb(20, 168, 212) ;
    padding: 10px ;
    border: 1px solid rgb(0, 4, 22) ;
    height: 900px;
    width: 1350px;
}

#contact {
    background: firebrick;

}

.contact_1 a {
    color: aliceblue;
    text-shadow: none;
}

.contact_1 h3 {
    display: inline
}

    #family {
   
        background-color: rgb(187, 231, 245) ;
        padding: 10px ;
        border: 1px solid rgb(0, 4, 22) ;
        height: 600px;
        width: 1350px;
      }
#wimpy{
    height: 300px;
    width:500px;
}

#max{
    border-radius: 50%;
    height: 300px;
}


/*ADD CSS FROM HERE */